includes:
	- ../vendor/phpstan/phpstan-doctrine/extension.neon
	- ../vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
	ignoreErrors:
	    - '/Parameter #3 \$subject of function preg_replace expects array<float\|int\|string>\|string, string\|null given/'
